.dropdown-menu {
    // Grid
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: stretch;

    a {
        text-decoration: none;
        color: inherit;
    }

    .dropdown-container {
        &.open {
            .dropdown-top {
                background-color: gray;
                color: var(--base-white);
            }

            .dropdown {
                ul {
                    // transform: translateY(0);
                    // transform: scaleY(1);
                }
            }
        }

        .dropdown-top, .dropdown li a {
            display: block;
            padding: 0.5em 1em;
            cursor: pointer;
    
            &:hover {
                background-color: gray;
                color: var(--base-white);
            }
        }

        .dropdown-top {
            border: 2px solid gray;
        }
    
        .dropdown {
            position: relative;
            z-index: 1;

            .dropdown-content {
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                // Transition
                height: 0;
                transition: height 500ms ease;

                ul {
                    background-color: var(--base-white);
                    border: 2px solid gray;
                    border-top: none;
    
                    li {
                        a {
                            
                        }
                    }
                }
            }
        }
    }
}